@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  --theme-color-1: rgb(224, 224, 224);
  --theme-color-2: rgb(255, 255, 255);
  --theme-color-3: rgba(255, 255, 255, 0.95);
  --text-color: rgb(31, 41, 55);
  --text-color-sub: rgb(95, 101, 113);
  --line-scroll: rgb(0, 27, 63);
  --border-color: rgb(206, 200, 200);
  --border-color-hover: rgb(10, 37, 64);
  --bg-toggle-theme: rgb(208, 208, 208);
}

body.dark {
  --theme-color-1: rgb(15, 15, 20);
  --theme-color-2: rgb(25, 25, 30);
  --theme-color-3: rgba(30, 30, 40, 0.95);
  --border-color: rgb(87, 91, 117);
  --border-color-hover: rgb(150, 40, 40);
  --text-color: rgb(243, 244, 246);
  --text-color-sub: rgb(156, 163, 175);
  --line-scroll: rgb(255, 255, 255);
  --bg-toggle-theme: rgb(47, 47, 47);
}

html {
  background: var(--theme-color-1);
  font-family: "Exo 2", sans-serif;
}

body {
  opacity: 0;
  @apply text-[14px] scroll-smooth box-border
    bg-no-repeat bg-cover text-[var(--text-color)] w-full min-h-[100dvh];
  background: var(--theme-color-1);
  animation: 1s ease-out 0.1s 1 transitionAnimation;
  animation-fill-mode: forwards;
}

@keyframes transitionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
