@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-3: rgb(108, 40, 244);
  --theme-color-3-light: rgb(129, 76, 234);
}

body.light {
  --theme-color-1: rgb(246, 248, 250);
  --theme-color-2: rgb(255, 255, 255);
  --theme-color-2-opacity: rgba(255, 255, 255, 0.95);
  --text-color: rgb(0, 27, 63);
  --line-scroll: rgb(0, 27, 63);
  --border-color: rgb(206, 200, 200);
  --bg-toggle-theme: rgb(208, 208, 208);
  --radial-gradient-1: rgb(224, 224, 224);
  --radial-gradient-2: rgb(255, 255, 255);
  --var-gradiend: 40%;
}

body.dark {
  --theme-color-1: rgb(0, 3, 25);
  --theme-color-2: rgb(28, 33, 75);
  --theme-color-2-opacity: rgba(28, 33, 75, 0.95);
  --border-color: rgb(86, 90, 116);
  --border-color-hover: rgb(216, 124, 48);
  --text-color: rgb(255, 255, 255);
  --line-scroll: rgb(255, 255, 255);
  --bg-toggle-theme: rgb(47, 47, 47);
  --radial-gradient-1: rgb(24, 29, 65);
  --radial-gradient-2: rgb(9, 11, 23);
  --var-gradiend: 20%;
}

html,
body {
  @apply: font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  @apply text-[14px] scroll-smooth box-border bg-[var(--theme-color-1)] bg-no-repeat bg-cover text-[var(--text-color)] w-full min-h-[100dvh];

  background: radial-gradient(
    ellipse at bottom,
    var(--radial-gradient-1) var(--var-gradiend),
    var(--radial-gradient-2)
  );
}
